<div>
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col_lg-7 parte1">
            <h3>Encriptador</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae labore repellat blanditiis sapiente, consequuntur iusto quidem nisi, minima suscipit incidunt earum saepe. Tempore fugiat veritatis odio non necessitatibus recusandae minus!</p>
        </div>
        <div class="col-sm-12 col-md-3 col_lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/encriptador.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
