<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress>
            [percent]="85"
            [radius]="100"
            [swowUnits]="false"
            [title]="'HTML'"
            [titleFontSize]="'3em'"
            [titleColor]="'pink'"
    <!--    [imageSrc]="'../../assets/html.png'"
            [imageHeigth]="70"
            [imageWidth]="70" -->
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        </circle-progress>
    </div>
</div>

<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress>
            [percent]="85"
            [radius]="100"
            [swowUnits]="false"
            [title]="'CSS'"
            [titleFontSize]="'3em'"
            [titleColor]="'pink'"
    <!--    [imageSrc]="'../../assets/css.png'"
            [imageHeigth]="70"
            [imageWidth]="70" -->
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        </circle-progress>
    </div>
</div>

<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress>
            [percent]="85"
            [radius]="100"
            [swowUnits]="false"
            [title]="'JavaScript'"
            [titleFontSize]="'3em'"
            [titleColor]="'pink'"
    <!--    [imageSrc]="'../../assets/JavaScript.png'"
            [imageHeigth]="70"
            [imageWidth]="70" -->
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        </circle-progress>
    </div>
</div>

<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress>
            [percent]="85"
            [radius]="100"
            [swowUnits]="false"
            [title]="'GitHub'"
            [titleFontSize]="'3em'"
            [titleColor]="'pink'"
    <!--    [imageSrc]="'../../assets/github.png'"
            [imageHeigth]="70"
            [imageWidth]="70" -->
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        </circle-progress>
    </div>
</div>

<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress>
            [percent]="85"
            [radius]="100"
            [swowUnits]="false"
            [title]="'ingles'"
            [titleFontSize]="'3em'"
            [titleColor]="'pink'"
    <!--    [imageSrc]="'../../assets/ingles.png'"
            [imageHeigth]="70"
            [imageWidth]="70" -->
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        </circle-progress>
    </div>
</div>

<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress>
            [percent]="85"
            [radius]="100"
            [swowUnits]="false"
            [title]="'grupal'"
            [titleFontSize]="'3em'"
            [titleColor]="'pink'"
    <!--    [imageSrc]="'../../assets/grupal.png'"
            [imageHeigth]="70"
            [imageWidth]="70" -->
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        </circle-progress>
    </div>
</div>